.card{
    border-radius: 15px;
    background-color:rgba(245, 245, 245, 0.205);
}



.profile {
    width: 22%;
    height: auto;

}
.profileImg {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: auto;
    border: 3px solid rgba(118, 182, 103,205);
}
.title {
    font-size:xx-large;
    font-weight: bold;
    color: rgb(118, 182, 103);
}

.info{
    font-size: larger;
}

.actions{
    position: relative;
    font-size: x-large;
    margin-left: auto;
}

.buttons {
    background-color: transparent;
    border: none;
}
